.language {
    display: flex;
    column-gap: 7px;
}

.language__item {
    text-transform: uppercase;
    font-family: 'TT Lakes';
    font-size: $standartRem;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1B1C21;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(0.98);
        opacity: 0.6;
    }
}

.language__item--active {
    transform: scale(0.98);
    opacity: 0.6;
}