$background-corol--main: #F8F8F8;
$background-corol--body: #fff;
$font-family: 'TT Lakes';

//Color

$h1Color: #1B1C21;
$difTextColor: #1B1C21;
$sectionTextColor: #7E7E82;
$formBorderColor: #EAEAEA;
$formInputTextColor: #B5B6BC;
$formTextApprovalColor: #7E7E82;
$formTextLinkColor: #FF3E79;
$formBtnColor: #FF3E79;
$TableColor: #fff;

//font-weight

$fontNormal: 400;
$fontRegular: 500;
$fontBold: 700;


//font-size
$standartRem: 1rem;
$h1Rem: 1.75rem;
$pRem: 0.875rem;
$sectionTitleRem: 1rem;
$modalTittleRem: 1.5rem;

//line-height
$standartLineH: 24px;
$h1LineH: 40px;
$telLineH: 32px;

//screen wigth
$screen-sm: 320px;
$screen-md: 768px;
$screen-xl: 1120px;
$screen-xxl: 1400px;
